USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[historico_tipos_cambio]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_tipos_cambio](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[divisa_origen] [varchar](3) NOT NULL,
	[divisa_destino] [varchar](3) NOT NULL,
	[tipo_cambio] [decimal](18, 8) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_historico_tipos_cambio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_historico_tipos_cambio] UNIQUE NONCLUSTERED 
(
	[fecha] ASC,
	[divisa_origen] ASC,
	[divisa_destino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[historico_tipos_cambio] ADD  CONSTRAINT [DF_historico_tipos_cambio_fecha_actualizacion]  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
