USE [INFO_BURSATIL]
GO
/****** Object:  View [dbo].[historico_cotizaciones_acciones_euro]    Script Date: 25/08/2026 16:52:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[historico_cotizaciones_acciones_euro]
AS
SELECT
    hca.[cotizacion_sk],
    hca.[fecha],
    hca.[accion],
    hca.[ticker],

    CAST(
        CASE
            WHEN hca.[divisa] IN ('EUR', 'Euro')
                THEN hca.[valor_accion]
            ELSE hca.[valor_accion] / tc.[tipo_cambio]
        END
        AS DECIMAL(18,6)
    ) AS [valor_accion],

    hca.[fecha_actualizacion]

FROM [dbo].[historico_cotizaciones_acciones] hca

LEFT JOIN [dbo].[historico_tipos_cambio] tc
    ON tc.[divisa_origen] = 'EUR'
    AND tc.[divisa_destino] = hca.[divisa]
    AND tc.[fecha] = hca.[fecha];

GO
