USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[info_acciones_base]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[info_acciones_base](
	[accion] [nvarchar](100) NOT NULL,
	[ticker] [nvarchar](50) NOT NULL,
	[pais] [nvarchar](100) NOT NULL,
	[tipologia] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
