USE [INFO_BURSATIL]
GO

/****** Object:  Table [dbo].[historico_rendimientos]    Script Date: 25/08/2026 17:23:19 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[historico_rendimientos_por_accion](
    [accion] [varchar](120) NOT NULL,
	[fecha] [datetime] NULL,
	[total_invertido] [decimal](18, 4) NULL,
	[total_valorado] [decimal](18, 4) NULL,
	[total_beneficio_liquidado] [decimal](18, 4) NULL,
	[total_beneficio_no_liquidado] [decimal](18, 4) NULL
) ON [PRIMARY]
GO


