USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[acciones_compras]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acciones_compras](
	[compra_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[id] [varchar](32) NOT NULL,
	[accion] [varchar](120) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[numero_acciones] [decimal](18, 6) NOT NULL,
	[valor_accion] [decimal](18, 6) NOT NULL,
	[comision] [decimal](18, 6) NOT NULL,
	[broker] [varchar](120) NOT NULL,
	[divisa] [varchar](120) NULL,
 CONSTRAINT [PK_acciones_compras] PRIMARY KEY CLUSTERED 
(
	[compra_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_acciones_compras_id] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acciones_compras] ADD  CONSTRAINT [DF_compras_comision]  DEFAULT ((0)) FOR [comision]
GO
ALTER TABLE [dbo].[acciones_compras] ADD  CONSTRAINT [DF_compras_broker]  DEFAULT ('Interactive Broker') FOR [broker]
GO
ALTER TABLE [dbo].[acciones_compras] ADD  CONSTRAINT [DF_compras_divisa]  DEFAULT ('Euro') FOR [divisa]
GO
ALTER TABLE [dbo].[acciones_compras]  WITH CHECK ADD  CONSTRAINT [CK_compras_comision] CHECK  (([comision]>=(0)))
GO
ALTER TABLE [dbo].[acciones_compras] CHECK CONSTRAINT [CK_compras_comision]
GO
ALTER TABLE [dbo].[acciones_compras]  WITH CHECK ADD  CONSTRAINT [CK_compras_numero_acciones] CHECK  (([numero_acciones]>(0)))
GO
ALTER TABLE [dbo].[acciones_compras] CHECK CONSTRAINT [CK_compras_numero_acciones]
GO
ALTER TABLE [dbo].[acciones_compras]  WITH CHECK ADD  CONSTRAINT [CK_compras_valor_accion] CHECK  (([valor_accion]>=(0)))
GO
ALTER TABLE [dbo].[acciones_compras] CHECK CONSTRAINT [CK_compras_valor_accion]
GO
