USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[bonos_compras]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bonos_compras](
	[compra_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[id] [varchar](32) NOT NULL,
	[nombre_bono] [varchar](120) NOT NULL,
	[fecha_compra] [datetime2](0) NOT NULL,
	[porcentaje_cotizacion_compra] [decimal](18, 6) NOT NULL,
	[importe_compra] [decimal](18, 6) NOT NULL,
	[valor_nominal] [decimal](18, 6) NOT NULL,
	[comision] [decimal](18, 6) NOT NULL,
	[broker] [varchar](120) NOT NULL,
	[divisa] [varchar](120) NULL,
	[isin] [varchar](32) NULL,
	[interes_acumulado_compra] [decimal](18, 6) NULL
) ON [PRIMARY]
GO
