USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[bonos_cupones]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bonos_cupones](
	[id] [varchar](32) NOT NULL,
	[nombre_bono] [varchar](120) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[cantidad] [decimal](18, 6) NULL
) ON [PRIMARY]
GO
