USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[historico_cotizaciones_acciones]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_cotizaciones_acciones](
	[cotizacion_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[accion] [varchar](120) NOT NULL,
	[ticker] [varchar](32) NULL,
	[valor_accion] [decimal](18, 6) NOT NULL,
	[divisa] [varchar](10) NOT NULL,
	[fecha_actualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_historico_cotizaciones_acciones] PRIMARY KEY CLUSTERED 
(
	[cotizacion_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_historico_cotizaciones_acciones] UNIQUE NONCLUSTERED 
(
	[fecha] ASC,
	[accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[historico_cotizaciones_acciones] ADD  CONSTRAINT [DF_historico_cotizaciones_fecha_actualizacion]  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [dbo].[historico_cotizaciones_acciones]  WITH CHECK ADD  CONSTRAINT [CK_historico_cotizaciones_valor] CHECK  (([valor_accion]>=(0)))
GO
ALTER TABLE [dbo].[historico_cotizaciones_acciones] CHECK CONSTRAINT [CK_historico_cotizaciones_valor]
GO
