USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[etfs_compras]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etfs_compras](
	[id] [nvarchar](255) NULL,
	[nombre] [nvarchar](255) NULL,
	[fecha] [datetime] NULL,
	[numero_acciones] [decimal](18, 4) NULL,
	[valor_accion] [decimal](18, 4) NULL,
	[comision] [decimal](18, 2) NULL,
	[broker] [nvarchar](255) NULL,
	[TICKER] [nvarchar](10) NULL,
	[isin] [varchar](250) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[etfs_compras] ADD  CONSTRAINT [DF_etfs_compras_broker]  DEFAULT ('Interactive Broker') FOR [broker]
GO
ALTER TABLE [dbo].[etfs_compras] ADD  DEFAULT (NULL) FOR [isin]
GO
