USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[acciones_ventas]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acciones_ventas](
	[accion] [varchar](120) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[numero_acciones] [decimal](18, 6) NOT NULL,
	[valor_accion] [decimal](18, 6) NOT NULL,
	[comision] [decimal](18, 6) NOT NULL,
	[broker] [varchar](120) NOT NULL,
	[divisa] [varchar](120) NULL,
	[venta_sk] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
