USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[metales_cotizacion]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metales_cotizacion](
	[fecha] [date] NOT NULL,
	[metal] [varchar](20) NOT NULL,
	[precio] [decimal](18, 6) NOT NULL,
	[divisa] [varchar](10) NOT NULL,
	[unidad] [varchar](20) NOT NULL,
	[fecha_carga] [date] NOT NULL,
 CONSTRAINT [PK_PreciosMetales_Largo] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[metal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[metales_cotizacion] ADD  DEFAULT ('EUR') FOR [divisa]
GO
ALTER TABLE [dbo].[metales_cotizacion] ADD  DEFAULT ('oz_troy') FOR [unidad]
GO
