USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[posiciones_abiertas_bonos]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posiciones_abiertas_bonos](
	[id] [varchar](32) NOT NULL,
	[nombre_bono] [varchar](120) NOT NULL,
	[isin] [varchar](32) NULL,
	[porcentaje_cotizacion_actual] [decimal](18, 6) NULL,
	[broker] [varchar](120) NOT NULL
) ON [PRIMARY]
GO
