USE [INFO_BURSATIL]
GO
/****** Object:  Table [dbo].[posiciones_abiertas]    Script Date: 25/08/2026 16:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posiciones_abiertas](
	[id] [nvarchar](255) NULL,
	[accion] [nvarchar](255) NOT NULL,
	[numero_acciones] [decimal](18, 4) NULL,
	[fecha_compra] [datetime] NULL,
	[valor_compra] [decimal](18, 4) NULL,
	[comision_compra] [decimal](18, 4) NULL,
	[total_compra] [decimal](18, 4) NULL,
	[fecha_actual] [datetime] NULL,
	[valor_actual] [decimal](18, 4) NULL,
	[total_actual] [decimal](18, 4) NULL,
	[ultima_variacion] [decimal](18, 4) NULL,
 CONSTRAINT [PK_posiciones_abiertas] PRIMARY KEY CLUSTERED 
(
	[accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
