USE [INFO_BURSATIL]
GO
/****** Object:  View [dbo].[acciones_compras_euro]    Script Date: 25/08/2026 16:36:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[acciones_compras_euro]
AS
SELECT
    ac.[compra_sk],
    ac.[id],
    ac.[accion],
    ac.[fecha],
    ac.[numero_acciones],

    CAST(
        CASE
            WHEN ac.[divisa] = 'EUR' OR ac.[divisa] IS NULL
                THEN ac.[valor_accion]
            ELSE ac.[valor_accion] / tc.[tipo_cambio]
        END
        AS DECIMAL(18,6)
    ) AS [valor_accion],

    ac.[comision],
    ac.[broker]

FROM [dbo].[acciones_compras] ac

LEFT JOIN [dbo].[historico_tipos_cambio] tc
    ON tc.[divisa_origen] = 'EUR'
    AND tc.[divisa_destino] = ac.[divisa]
    AND tc.[fecha] = CAST(ac.[fecha] AS DATE);

GO
